.md-toolbar-tools {
  text-align: center;
}
h1,.md-title,md-card-header,md-card-title,md-card-content{
  text-align: center;
  font-family: "Lato";
}
#card_img_exp{
  height: 60px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
}
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://fonts.googleapis.com/css?family=Bad+Script);
@import url(http://fonts.googleapis.com/css?family=Nova+Mono);


/* zocial */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
.tabsdemoDynamicHeight{
  min-width: 100%;
  max-width: 100%;

}
.md-avatar{
  width: 120px;
  height: 120px;
  float: left;
  margin-right: 10px;
}
.md-3-line{
 
}

.subheaderdemoBasicUsage .face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px; 
}
h3,h4,h5{
  margin-bottom: 0px;
  margin-top: 0px;
}


#cvo-profile-fullname,#cvo-profile-avatar-wraper {
  float: left;
}
.md-card-image{
  
  border-radius: 55%;  
}

.md-card-imageDiv{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  max-width: 300px;
}
md-card-header{
  font-size: 30px;
  margin-top: 10px;
  font-weight: bold;
}
md-card-content{
  font-size: 20px;
}
#tilte01{
  margin-top: 0px;
  margin-bottom: 5px;
}
.subheaderdemoBasicUsage .face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px; 
}
.md-primary{
 font-size: 30px; 
}
.title03{
  margin-bottom: 0px;
  text-align: left;
  color: darkblue;
}

.quickFade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-timing-function: ease-in;
  
  -moz-animation-name: reset, fade-in;
    -moz-animation-duration: 2.5s;
    -moz-animation-timing-function: ease-in;
  
  animation-name: reset, fade-in;
    animation-duration: 2.5s;
    animation-timing-function: ease-in;
}
