
<div> 
    <div layout="row" layout-md="50">
      <div ng-cloak="" class="tabsdemoDynamicHeight">
        <md-content>
            <md-toolbar md-scroll-shrink>
            
<div layout="row"  layout-align="space-between center">
  <div layout="row" layout-align="center center">
    <div layout="column" layout-align="center">
        <img src="{{vm.person.imageSrc}}" border-radius:"50%" height="100px" width="100px" >
    </div>
    <div layout="column" layout-align="center">
        <div margin="10px"> 
        <h3>{{vm.person.fullName}}</h3>
        <span><i>{{vm.person.major}}</i></span>
        </div>
    </div>
  </div> 
  <div layout="column" layout-align="center end">
        <div flex-gt-sm="50">
            <i class="fa fa-envelope-o fa-lg"></i>
            <span>{{vm.person.email}}</span>
        </div>
        <div flex-gt-sm="50">
            <i class="fa fa-mobile fa-lg"></i>
            <span>{{vm.person.phone}}</span>
        </div>
         <div flex-gt-sm="50">
            <i class="fa fa-skype fa-lg"></i>
            <span>{{vm.person.skype}}</span>
        </div>

  </div>
</div>

        </md-toolbar>
          <md-tabs md-dynamic-height=""  md-border-bottom="">

        <md-tab label="HỌC VẤN">
          <md-content class="md-padding">
            <md-toolbar class="md-hue-1">
                    <div class="md-toolbar-tools" layout-align="center center">
                        <h2>Học vấn</h2>
                    </div>
                </md-toolbar>
          <section>
      <md-list layout-padding="">
        <md-list-item class="md-3-line" ng-repeat="school in vm.schools">
        <div flex-xs flex-gt-xs="60" layout="column">
        <!--
            <img ng-src="{{school.img}}" class="md-avatar" alt="{{school.shortName}}">
            <div class="md-list-item-text">
              <hr>
              <h3 id="tilte01"> {{school.name}}</h3>
              <h4 id="tilte01">{{school.time}}</h4>
              <h5 id="tilte01">
                {{school.notes}}
              </h5>
              <br>
            </div>
         --> 
          <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">{{school.name}}</span>
                    <span class="md-subhead">{{school.time}}</span>
                    <span class="md-content">{{school.notes}}</span>
                  </md-card-title-text>
                  <md-card-title-media>
                    <div class="md-media-md card-media">
                        <img ng-src="{{school.img}}"  alt="{{school.shortName}}">
                    </div>
                  </md-card-title-media>
                </md-card-title>
            </md-card>
         </div>
        </md-list-item>
      </md-list>
    </section>
            
          </md-content>
        </md-tab>
        
        <md-tab label="KỸ NĂNG">
          <md-content class="md-padding">
             <section>
                 <md-toolbar class="md-hue-1">
                    <div class="md-toolbar-tools" layout-align="center center">
                        <h2>Kỹ năng chính</h2>
                    </div>
                </md-toolbar>

      <md-list layout-padding="">
        <md-list-item class="md-3-line" ng-repeat="skill in vm.strongSkills">
        <div flex-xs flex-gt-xs="60" layout="column">
            <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">{{skill.skill}}</span>
                    <span class="md-subhead">{{skill.exprensive}}</span>
                    <span class="md-content">{{skill.notes}}</span>
                  </md-card-title-text>
                  <md-card-title-media>
                    <div class="md-media-md card-media">
                        <img ng-src="{{skill.img}}"  alt="{{skill.skill}}">
                    </div>
                  </md-card-title-media>
                </md-card-title>
            </md-card>
            </div>
        </md-list-item>
      </md-list>
    </section>
    <section>
                 <md-toolbar class="md-hue-2">
                    <div class="md-toolbar-tools" layout-align="center center">
                        <h2>Kỹ năng hỗ trợ</h2>
                    </div>
                </md-toolbar>
      <md-list layout-padding="">
        <md-list-item class="md-3-line" ng-repeat="skill in vm.supportSkills">
        <div flex-xs flex-gt-xs="60" layout="column">
            <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">{{skill.skill}}</span>
                    <span class="md-subhead">{{skill.exprensive}}</span>
                    <span class="md-content">{{skill.notes}}</span>
                  </md-card-title-text>
                  <md-card-title-media>
                    <div class="md-media-md card-media">
                        <img ng-src="{{skill.img}}"  alt="{{skill.skill}}">
                    </div>
                  </md-card-title-media>
                </md-card-title>
            </md-card>
            </div>
        </md-list-item>
      </md-list>
    </section>
             <section>
                 <md-toolbar class="md-hue-3">
                    <div class="md-toolbar-tools" layout-align="center center">
                        <h2>Kỹ năng khác</h2>
                    </div>
                </md-toolbar>
      <md-list layout-padding="">
        <md-list-item class="md-3-line" ng-repeat="skill in vm.softSkills">
        <div flex-xs flex-gt-xs="60" layout="column">
            <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">{{skill.skill}}</span>
                    <span class="md-subhead">{{skill.exprensive}}</span>
                    <span class="md-content">{{skill.notes}}</span>
                  </md-card-title-text>
                  <md-card-title-media>
                    <div class="md-media-md card-media">
                        <img ng-src="{{skill.img}}"  alt="{{skill.skill}}">
                    </div>
                  </md-card-title-media>
                </md-card-title>
            </md-card>
            </div>
        </md-list-item>
      </md-list>
    </section>

         
          </md-content>
        </md-tab>    
        <md-tab label="KINH NGHIỆM">
            <md-content class="md-padding">
            <md-toolbar class="md-hue-1">
                    <div class="md-toolbar-tools" layout-align="center center">
                        <h2>Kinh nghiệm</h2>
                    </div>
                </md-toolbar>
             <section>
      <md-list layout-padding="">
        <md-list-item class="md-3-line" ng-repeat="dst in vm.experience">
        <div flex-xs flex-gt-xs="50" layout="column">
             <md-card>
                <img ng-src="{{dst.img}}" class="md-card-image">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{dst.title}}</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p>
                {{dst.content}}
              </p>
            </md-card-content>
          </md-card>
      </div>
        </md-list-item>
      </md-list>
    </section>
          </md-content>
        </md-tab>
        
        <md-tab label="HOẠT ĐỘNG">
          <md-content class="md-padding">
          <md-toolbar class="md-hue-1">
                    <div class="md-toolbar-tools" layout-align="center center">
                        <h2>Hoạt động</h2>
                    </div>
                </md-toolbar>
            <section>
      <md-list layout-padding="">
        <md-list-item class="md-3-line" ng-repeat="act in vm.activity">
          <md-card>
        <md-card-title>
        <md-card-title-media>
            <div class="md-media-sm card-media">
              <img src = "{{act.img}}" alt= "{{act.name}}">
            </div>
          </md-card-title-media>
          <md-card-title-text>
            <h1 class="md-headline">{{act.name}}</h1>
            <h2 class="md-subhead">{{act.org}} - {{act.time}}</h2>
          </md-card-title-text>
        </md-card-title>
      </md-card>
        </md-list-item>
      </md-list>
    </section>
            <hr>
          </md-content>
        </md-tab>
        <md-tab label="MỤC TIÊU">
        <md-toolbar class="md-hue-1">
                    <div class="md-toolbar-tools" layout-align="center center">
                        <h2>Mục tiêu</h2>
                    </div>
                </md-toolbar>
          <md-content class="md-padding">
             <section>
      <md-list layout-padding="">
        <md-list-item class="md-3-line" ng-repeat="dst in vm.destination">
        <div flex-xs flex-gt-xs="60" layout="column">
             <md-card>
                <img ng-src="{{dst.img}}" class="md-card-image">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{dst.name}}</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p>
                {{dst.dest}}
              </p>
            </md-card-content>
          </md-card>
      </div>
        </md-list-item>
      </md-list>
    </section>
          </md-content>
        </md-tab>
        <md-tab label="SỞ THÍCH">
          <md-content >
            <section>
            <md-toolbar class="md-hue-1">
                    <div class="md-toolbar-tools" layout-align="center center">
                        <h2>Sở thích</h2>
                    </div>
                </md-toolbar>
        <md-list layout-padding="">
            <md-list-item class="md-3-line" ng-repeat="fvr in vm.favorite">
            <div flex-xs flex-gt-xs="60" layout="column">
            <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch >
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">{{fvr.name}}</span>
                    <span class="md-subhead">{{fvr.result}}</span>
                  </md-card-title-text>
                  <md-card-title-media>
                    <div class="md-media-md card-media">
                        <img ng-src="{{fvr.img}}" alt="{{fvr.name}}">
                    </div>
                  </md-card-title-media>
                </md-card-title>
            </md-card>
            </div>
        </md-list-item>
      </md-list>
    </section>
          </md-content>
        </md-tab>
        <md-tab label="LIÊN HỆ">
          <md-content class="md-no-momentum">
          <md-toolbar class="md-hue-1">
                    <div class="md-toolbar-tools" layout-align="center center">
                        <h2>Liên hệ với tôi</h2>
                    </div>
                </md-toolbar>
        <md-input-container class="md-icon-float md-block">
          <!-- Use floating label instead of placeholder -->
          <!-- <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon> -->
          <input ng-model="vm.user.name" placeholder="Họ và Tên" type="text">
        </md-input-container>

        <md-input-container class="md-icon-float md-block">
          <!-- <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon> -->
          <input ng-model="vm.user.phone" type="text" placeholder="Số điện thoại" >
        </md-input-container>

        <md-input-container class="md-icon-float md-block">
          <!-- Use floating placeholder instead of label -->
          <!-- <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon> -->
          <input ng-model="vm.user.email" type="email" placeholder="Email (đề nghị)" ng-required="true">
        </md-input-container>

        <md-input-container class="md-icon-float md-block">
              <label>Nội dung</label>
              <textarea ng-model="vm.user.content" md-maxlength="300" rows="6" md-select-on-focus=""></textarea>
        </md-input-container>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
        <md-button ng-disalbe="vm.form" class="md-raised md-primary" ng-click="vm.sendEmail($event)">Gửi thông tin</md-button>
        </section>
      </md-content>
            </md-tab>
          </md-tabs>
          </md-content>
      </div>
    </div>
        <footer>
        <div layout="row" layout-align="center center">
            <md-toolbar class="md-toolbar-tools md-tall" layout-align="center center">
                <div flex="20">
                    <md-tooltip md-direction="left">
                        Google +
                    </md-tooltip>
                    <a href="{{vm.person.gg}}">
                        <i class="fa fa-google-plus fa-4x"></i></a>
                </div>
                <div flex="20">
                    <md-tooltip md-direction="left">
                        Facebook
                    </md-tooltip>
                    <a href="{{vm.person.fb}}">
                        <i class="fa fa-facebook fa-4x"></i>
                    </a>
                </div>
                <div flex="20">
                    <md-tooltip md-direction="left">
                        Linkedln
                    </md-tooltip>
                    <a href="{{vm.person.link}}">
                        <i class="fa fa-linkedin fa-4x"></i>
                    </a>
                </div>
                <div flex="20">
                    <md-tooltip md-direction="left">
                        Twitter
                    </md-tooltip>
                    <a href="{{vm.person.tw}}">
                        <i class="fa fa-twitter fa-4x"></i>
                    </a>
                </div>
                <div flex="20">
                    <md-tooltip md-direction="left">
                        Youtube
                    </md-tooltip>
                    <a href="{{vm.person.yt}}">
                        <i class="fa fa-youtube-play fa-4x"></i>
                    </a>
                </div>
            </md-toolbar>
        </div>
    </footer>
</div>


